
* {  
    padding: 0;
    box-sizing: content-box;
}

html { 
    background-color: #7cffcb;
    background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
     }

body {font-family: 'Bitter', serif;}

h1 { 
    font-size: 400%;
    text-align: center;
}




.footnote { 
    font-size: 70%; 
    text-align: center;
}

.calcForm {
    display: flex;
    justify-content: flex-end; 
    text-align: center;  
    margin-left: 10%; 
}

input { text-align: center;}

form { 
    background: mistyrose;
    box-shadow: 2px 5px 2px midnightblue;
    border: 5px solid mistyrose; 
    border-radius: 10%;
    margin: auto;
    padding: 4%;
}

#checkbox { margin-bottom: 10%;}

span,
#predictPay { color:goldenrod; }



.resultForm {
    background: midnightblue;
    text-align: center;
    font-size: 100%;
    border: 10px solid mistyrose;
    box-shadow: 2px 5px 2px midnightblue;
    border-radius: 10%;
    display: flex;
    justify-content: flex-end;
    margin-left: 2%;
    margin-right: 15%; 
    padding-left: 5%;
    padding-right: 5%;
    padding-block: 5%;
}

.result { text-align: center; }

.predictPay { 
    color:goldenrod;
    text-shadow: 1px 2px 1px midnightblue;
}



button {  
    font-family: 'Bitter', serif;
    background: none;
    border: none;
    color: goldenrod;
    text-decoration: underline;
}

.resultForm p,
.resultForm h3 {color: mistyrose;}